<div class="panel-body">
    <form name="userForm" novalidate ng-submit="submitForm()">
        <div class="form-group">
            <label for="inputName">{{"Enter Email ID" | uppercase}}</label>
            <input name="userEmail" type="email" ng-model="email" class="form-control" id="inputName" placeholder="Enter email..." required>
        </div>
        <button ng-disabled="!userForm.userEmail.$dirty || userForm.userEmail.$invalid" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>